/* Small Reset */
*::before, *::after, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 2rem;
}

header {
  background: lime;
  min-height: 100vh;
}

header h1 {
  text-align: center;
  margin-top: 25rem;
}

nav {
  padding: 2rem;
  background: skyblue;
  display: flex;
  gap: 5rem;
  justify-content: center;
}

nav menu {
  gap: 6rem;
  display: flex;
}