@import url('variables.css');
@import url('typography.css');


/* Small Reset */
*::before, *::after, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* General Styles */

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1.5rem 12rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav menu {
  display:flex ;
  list-style: none;
  gap: 2rem;
}

nav > a {
  color: var(--primary-light-color);
  text-decoration: none;
  text-transform: uppercase;
}

nav menu li a{
  color: var(--link-font-color);
  text-decoration: none;
  text-transform: uppercase;
}

header {
  text-align: center;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

header h1 span {
  display: block;
  font-size: var(--secondary-mainheading-size); 
}

header > a {
  padding: 1.6rem 2.4rem;
  color: white;
  background: rgb(238, 9, 121);
  text-transform: uppercase;
  border-radius: 2rem;
  text-decoration: none;
}