@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 5rem;
  color: rgb(246, 225, 197);
}

