/* Small Reset */
*::before, *::after, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Height of body at least the height of the browser window (viewport) */
body{
    min-height: 100vh;
    background: #222;
    font-size: 2rem;
    font-family: monospace;

    /* not a block element anymore - flex*/
    display: flex;
    justify-content: flex-start;
    flex-direction: column;


}

nav{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

nav menu{
    display: flex;
    gap: 6rem;
    text-decoration: none;
    justify-content: center;
    list-style-type: none;
    background: orange;


}

header{
    background: #5ea5a7;
    border-style: solid;
    border-color: white;


}

header h1{
    text-align: center;
    
}

#services{
    background: #5ea5a7;
    border-style: solid;
    border-color: white;
    min-height: 100vh;
}

#about{
    background: #5ea5a7;
    border-style: solid;
    border-color: white;
}

#sub-nav{
    background: #5ea5a7;
    border-style: solid;
    border-color: white;
}

